
.project{
margin-top: 50px;
 gap:100px;
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
}

.box1{
  text-align: center;
  width: 500px;
   
}

.box1 img{
width:500px;
border-radius: 0px 50px 0px 50px;

}

.box1 ,span ,p {
  background-color: transparent;
  
}

.box1 button{
  margin-top: 19px;
  margin-left: 5px;

}

.box1 button a{
background-color: transparent;
text-decoration: none;
color: white;
}

.box2{
text-align: start;
margin-top: 10px;
text-align: justify;
}



@media (min-width:320px) and (max-width:426px){


.box1 img{
width:300px;
border-radius: 0px 50px 0px 50px;

}

.box1 button{
  margin-top: 7px;
  margin-left: 8px;
  
}

.box2{
text-align: start;
margin-top: 10px;
text-align: justify;
width: 100%;
}





}