.Hero{
display: flex;
margin-top: 207px;
gap: 50px;
padding: 0px 117px 0px 174px;

}

.Hero img{
  width: 350px;
  border-radius: 50%;
  height: 350px;
  
}
/* span */
#Rohit{
  color:rgb(244, 180, 26);
}

#Jobpro{
  color: rgb(186, 220, 88);
}

/*  */


.intro h1{

  align-items: center;
  margin-top: 67px;
  
}



@media (min-width:768px) and (max-width:1024px){

.Hero{
display: flex;
margin-top: 207px;
gap: 50px;
padding: 0px 0px 0px 50px;

}

.Hero img{
  width: 200px;
  border-radius: 50%;
  height: 200px;
}

.intro h1{

  align-items: center;
  margin-top: 28px;
  font-size:medium;
  
}

.intro h3{
  font-size: small;
}

.intro p{
  font-size: small;
}



}


@media (min-width:320px) and (max-width:426px){


.Hero{
display: flex;
margin-top: 100px;
gap: 20px;
padding: 0px;

}

.Hero img{
  width: 100px;
  border-radius: 50%;
  height: 100px;
  margin-top: 23px;
  margin-left: 10px;
}

.intro h1{

  align-items: center;
  margin-top: 28px;
  font-size:smaller;
  
}

.intro h3{
  font-size: x-small;
}

.intro p{
  font-size: 5px;
}




}