@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
   color: white;
  font-family: Outfit;
 background-color:rgb(31, 34, 33);
}

html {
  scroll-behavior:smooth;
}

.bar li a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  background-color: transparent;
}